<?php

// specify the paths to fix, as normal...

$finder = PhpCsFixer\Finder::create()
    ->in(__DIR__.'/src')
    ->in(__DIR__.'/tests');

// then call and return the following global function...

return TiMacDonald\styles($finder);

