parameters:
    level: max
    paths:
        - src
    checkInternalClassCaseSensitivity: true
    checkTooWideReturnTypesInProtectedAndPublicMethods: true
    checkUninitializedProperties: true
    checkMissingIterableValueType: true
includes:
    - vendor-bin/linting/vendor/nunomaduro/larastan/extension.neon
