parameters:
    level: 8
    paths:
        - src
    checkInternalClassCaseSensitivity: true
    checkGenericClassInNonGenericObjectType: true
    checkTooWideReturnTypesInProtectedAndPublicMethods: true
    checkUninitializedProperties: true
    checkMissingIterableValueType: true
includes:
    - vendor-bin/dev/vendor/nunomaduro/larastan/extension.neon
