name: CI

on:
    push:
        branches: [ main ]
    pull_request:
        branches: [ main ]

jobs:
    lint:
        runs-on: ubuntu-latest
        name: 'Lint'
        steps:
            - name: Checkout code
              uses: actions/checkout@v2

            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: '8.0'
                  coverage: pcov

            - name: Cache dependencies
              uses: actions/cache@v1
              with:
                  path: ~/.composer/cache/files
                  key: dependencies-composer-${{ hashFiles('composer.json') }}-v3

            - name: Install dependencies
              run: composer install --no-suggest --no-interaction --verbose

            - name: Check platform requirements
              run: composer check-platform-reqs --verbose

            - name: PHP-CS-Fixer
              run: ./vendor/bin/php-cs-fixer fix --dry-run --no-interaction --verbose

            # - name: composer normalize
            #   run: composer normalize --dry-run --no-interaction --verbose

            # - name: test coverage
            #   run: |
            #       ./vendor/bin/phpunit --coverage-clover=coverage.xml --debug --verbose
            #       bash <(curl -s https://codecov.io/bash)
            #   env:
            #       CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

            - name: Infection
              run: ./vendor/bin/infection --show-mutations --min-covered-msi=100 --no-progress --no-interaction --verbose
              # env:
              #     INFECTION_BADGE_API_KEY: ${{ secrets.INFECTION_BADGE_API_KEY }}

            # - name: Psalm
            #   run: ./vendor/bin/psalm --shepherd --no-progress

            - name: PHPStan
              run: ./vendor/bin/phpstan --no-interaction --verbose

    tests:
        runs-on: ubuntu-latest
        name: 'Test suite on PHP: ${{ matrix.php }}; Dependecies: ${{ matrix.dependency-version }}'
        strategy:
            matrix:
                php: ['8.0']
                dependency-version: ['prefer-lowest', 'prefer-stable']

        steps:
            - name: checkout code
              uses: actions/checkout@v2

            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: ${{ matrix.php }}
                  coverage: none

            - name: Cache dependencies
              uses: actions/cache@v1
              with:
                  path: ~/.composer/cache/files
                  key: dependencies-${{ matrix.dependency-version }}-php-${{ matrix.php }}-composer-${{ hashFiles('composer.json') }}-v3

            - name: Install dependencies
              run: |
                composer remove 'friendsofphp/php-cs-fixer' 'infection/infection' 'nunomaduro/larastan' 'phpstan/phpstan' 'phpunit/phpunit' 'ergebnis/composer-normalize' --dev --no-update --no-interaction --verbose
                  composer update --${{ matrix.dependency-version }} --no-suggest --no-interaction --verbose

            - name: Check platform requirements
              run: composer check-platform-reqs --verbose

            - name: Run tests
              run: ./vendor/bin/phpunit --debug --verbose
